---
---

 @import "minima";

 $primary-text-color: #4a4a4a;
 $secondary-text-color: #383838;
 $lighter-gray-color:#f6f9fc;
 $light-gray-color: #e6e6e6;
 $mid-gray-color: #666;
 $gray-color: #3b3e46;
 $deep-gray-color: #2f333c;
 $accent-color: #604693;
 $green-color: #28a745;
 $orange-color: #ffc107;
 $red-color: #dc3545;

 $dark-primary-text-color: #e2e2e2;
 $dark-secondary-text-color: #c2c2c2;
 $dark-accent-color: #ff572f;
 $dark-color: #282c35;


 p {
   line-height: 1.7;
 }

.post-list-heading {
  display: none;
}

figure.image {
  text-align: center;
  margin: 40px 0;
  img { margin: 0 auto;}
}

body {
  background-color: $light-gray-color;
  color: $primary-text-color;
  font-family: 'IBM Plex Sans', sans-serif;
}
a {
  color: $accent-color;

  &:hover, &:visited {
    color: $accent-color;
  }
}
code {
  color: #111;
}
pre,code {
  background-color: #ececff;
}
.footer-heading{
  display: none;
}
.site-footer p {
  color: $secondary-text-color;
}
.p-name{
  color: $secondary-text-color;
}
.highlight {
  color: #111;
}
.site-header {
  border-bottom: none;
}
.site-footer {
  border-top: none;
}
.site-title, .site-title:visited {
  color: $primary-text-color;
}
.site-nav {
  .page-link {
    color: $primary-text-color;
  }
}
.post-meta {
  color: $secondary-text-color;
}
